
Tetris/Tetris.vcxproj.user
Tetris/Tetris.vcxproj.filters
Tetris/Tetris.vcxproj
Tetris/Tetris.sln
Tetris/.vs/Tetris/v16/Browse.VC.opendb
Tetris/.vs/Tetris/v16/Browse.VC.db-wal
Tetris/.vs/Tetris/v16/Browse.VC.db-shm
Tetris/.vs/Tetris/v16/Browse.VC.db
*.ipch
Tetris/.vs/Tetris/v16/.suo
Tetris/Debug/Tetris.exe.recipe
Tetris/Debug/Tetris.ilk
Tetris/Debug/Tetris.log
Tetris/Debug/Tetris.obj
Tetris/Debug/Tetris.pdb
Tetris/Debug/Tetris.tlog/CL.command.1.tlog
*.tlog
*.idb
Tetris/Debug/Tetris.vcxproj.FileListAbsolute.txt
*.pdb
*.dll
*.obj
